<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 60%;  
  margin: 0 auto;
  background-color: aquamarine;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
h2{
    text-align: center;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h2>Credit Card Records</h2>
<div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Card Number</th>
        <th>Card Holder</th>
        <th>Starting Date</th>
        <th>Expiry Date</th>
        <th>CVV</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td>3422453235323463</td>
        <td>Smith John Doe</td>
        <td>25/23</td>
        <td>25/25</td>
        <td>3456</td>
        <td style="text-align: center;color:red"><i class="fa fa-trash"></i></td>
      </tr>
      <tr>
        <td>3422453235323463</td>
        <td>Smith John Doe</td>
        <td>25/23</td>
        <td>25/25</td>
        <td>3456</td>
        <td style="text-align: center;color:red"><i class="fa fa-trash"></i></td>
      </tr>
      <tr>
        <td>3422453235323463</td>
        <td>Smith John Doe</td>
        <td>25/23</td>
        <td>25/25</td>
        <td>3456</td>
        <td style="text-align: center;color:red"><i class="fa fa-trash"></i></td>
      </tr>
      <tr>
        <td>3422453235323463</td>
        <td>Smith John Doe</td>
        <td>25/23</td>
        <td>25/25</td>
        <td>3456</td>
        <td style="text-align: center;color:red"><i class="fa fa-trash"></i></td>
      </tr>
      <tr>
        <td>3422453235323463</td>
        <td>Smith John Doe</td>
        <td>25/23</td>
        <td>25/25</td>
        <td>3456</td>
        <td style="text-align: center;color:red"><i class="fa fa-trash"></i></td>
      </tr>
    </table>
</div>

</body>
</html>
